<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="SpeedyWatch"
        android:extractNativeLibs="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" />
                <data android:host="youtube.com" />
                <data android:host="*.youtube.com" />
                <data android:host="youtu.be" />
                <data android:host="youtube-nocookie.com" />
                <data android:host="*.youtube-nocookie.com" />
                <data android:host="bilibili.com" />
                <data android:host="*.bilibili.com" />
                <data android:host="b23.tv" />
                <data android:host="instagram.com" />
                <data android:host="*.instagram.com" />
                <data android:host="vimeo.com" />
                <data android:host="*.vimeo.com" />
                <data android:host="x.com" />
                <data android:host="*.x.com" />
                <data android:host="twitter.com" />
                <data android:host="*.twitter.com" />
                <data android:host="facebook.com" />
                <data android:host="*.facebook.com" />
                <data android:host="fb.watch" />
                <data android:host="soundcloud.com" />
                <data android:host="*.soundcloud.com" />
                <data android:host="mega.nz" />
            </intent-filter>
        </activity>
        <service
            android:name=".SpeedyWatchDownloadService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
        <receiver
            android:name=".UpdateDownloadReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
